:root {
    --color-primary: #2B339E;
    --color-accent: #FF61A7;
    --color-dark: #848484;
}

.navbar-brand {
    color: var(--color-primary) !important;
}

.colored {
    background-color: var(--color-accent);
    color: white !important;
    border-radius: 32px;
    padding: 12px;
    border: none;
    font-weight: bold;
}

.title {
    font-size: 5rem;
    color: var(--color-primary);
    font-weight: bolder;
}

.description {
    font-stretch: extra-expanded;
    line-height: 2.2;
    color: var(--color-dark);
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 3rem;
  }
}